.sidebar {
    /* background-color: red; */
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.closeBtn {
    position: absolute;
    right: -35px;
    z-index: 1;
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(21, 21, 21, 0.155);
    color: red;
    background-color: white;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.sidebar_header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo>span {
    font-size: 22px;
    font-weight: bold;
}

.logo span:nth-child(1) {
    color: orange;
}

.logo>p {
    color: gray;
    font-size: 13px;
}


.user {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 15px;
}

.user_logo img {
    max-width: 28px;
    border-radius: 50%;
}

.userName {
    font-weight: 500;
    font-size: 14px;
}

.userEmail {
    font-size: 10px;
    color: gray;
}

.menuItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
}

.menu> p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: gray;
}

.lists, .menus {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 8px;
}

.lists>p, .menus>p {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

.lists>p:hover, .menus>p:hover {
    background-color: orange;
    color: white;
}


.theme {
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    gap: 5px;
    padding: 5px;
    /* width: 80%; */

}

.light, .dark {
    border-radius: 15px;
    padding: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .sidebar {
        position: absolute;
        background-color: white;
        z-index: 1;
        transform: translateX(-300px);
        height: 100vh;
        transition: transform 0.5s ease-in-out;
    }

    .show {
        transform: translateX(0);
        height: 100vh;
    }
    .closeBtn {
        display: flex;
    }
}



